.btn_start,
.quiz_box,
.score_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz_box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.quiz_box {
    width: 500px;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box .question_text {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box .option_list {
    padding: 15px 0;
}

.quiz_box .option_list .option {
    border: 1px solid #151d3b;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box .option_list .option:hover {
    background-color: #151d3b;
    color: #fff;
}

.quiz_box .option_list .option.correct {
    background-color: #8df06fb4;
    color: #151d3b;
}

.quiz_box .option_list .option.incorrect {
    background-color: #f04f4f79;
    color: #151d3b;
}

.quiz_box .option_list .option.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.quiz_box .option_list .option.correct {
    opacity: 1;
}

.quiz_box .option_list .option.incorrect {
    opacity: 1;
}

.quiz_box .next_btn {
    opacity: 0;
    pointer-events: none;

    transform: scale(0.7);
    transition: all 0.4s ease;
}

.quiz_box .next_btn.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.quiz_box footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* timer */
.quiz_box header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.quiz_box header .timer {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    background-color: #151d3b;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

.quiz_box header .timer .timer_text {
    font-size: 14px;
}

.quiz_box header .timer .time_second {
    background-color: #c6c921;
    border-radius: 3px;
    padding: 3px;
    margin-left: 3px;
    width: 25px;
    text-align: center;
}

.quiz_box header .time_line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    /* width: 550px; */
    background-color: #151d3b;
}

.score_box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.score_box {
    width: 500px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}

.score_box .icon {
    font-size: 100px;
    color: #8df06f;
    margin-bottom: 10px;
}

.score_box .score_text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
